body {
  /* color palet: https://colorhunt.co/palette/06283d256d8547b5ffdff6ff */
  background-color: #DFF6FF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

img {
  height: 200px;
  border-radius: 50%;
}

h1 {
  color: #06283D;
}

h3 {
  color: #256D85;
}

td.description {
  vertical-align: middle;
}

td.date {
  width: 85px;
}



thead {
  text-align: center;
}

td {
  text-align: left;
  vertical-align: top;
}


p.description {
  width: 100%;
  text-align: justify;
}
